@media (max-width: 980px) {
  html {
    font-size: 90%;
  }

  .main-layout {
    max-width: 760px;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 80%;
  }

  .main-layout {
    max-width: 760px;
  }

  main {
    flex-direction: column-reverse;
    padding: 2rem;
    margin-block-end: 2rem;
  }

  .wrapper-map {
    margin-block-end: 2rem;
  }

  #map {
    height: 350px;
  }
}
