footer {
  background-color: var(--primary-color);

  width: 100%;

  text-align: center;
  margin-top: 4.5rem;
  font-size: 0.8rem;
  padding: 2rem;
}

footer img {
  width: 100px;
  margin-block-end: 0.8rem;
}
