header {
  background-color: var(--primary-color);
  margin-block-end: 2.4rem;
}

.header {
  padding: 0.8rem;
  align-items: center;
}

.header .logo-box img {
  width: 125px;
}

.search {
  position: relative;
}

.search form {
  margin-inline-end: 0.5rem;
}

.input {
  width: 20rem;
  height: 2rem;
  padding: 0 1rem;
  padding-left: 2.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #4950578a;
  background-color: #fff;
  box-shadow: 0 0 0 2px #343a4038;
}

.icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  color: #9e9ea7;
  width: 1rem;
  height: 1.5rem;
}

.btn-user-pos {
  margin-inline-end: 0.5rem;
}
